
.profile__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile__image{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile__username {
    margin-bottom: 20px;
}
.profile__text{
    color: gray;
    
}
.profile__text:not(:last-child) {
margin-bottom: 20px;
}