.friend__list {
display: flex;
flex-direction: column;
width: 300px;
margin-inline: auto;
gap: 10px;
margin-top: 40px;
background-color: white;

border-radius: 5px;
box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);


}

.friend__item{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: wheat;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}